.DS_Store
templates/.Rhistory
class_notes/.Rhistory
slides/04_slides_grouping_summarizing/.Rhistory
class_notes/04_grouping_summarizing/.Rhistory
class_notes/07_advanced_data_wrangling/.Rhistory
class_notes/08_string_basics/.Rhistory
